<h1>Edit your profile</h1>

<%= render partial: 'form', user: @user %>

<%= link_to "Delete", users_path(@user), method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', user_path, class: "btn btn-default" %>
<%= link_to 'Log out', logout_path, class: "btn btn-default" %>
