
<link href="https://images.unsplash.com/photo-1490822002085-64a612f919d6?dpr=2&amp;auto=format&amp;fit=crop&amp;w=1080&amp;h=720&amp;q=80&amp;cs=tinysrgb&amp;crop=&amp;bg=" rel="stylesheet">



<h1></h1>

<h1>B-L-O-G</h1>

<%= text_field_tag :email, nil, placeholder: 'Email' %>

<br>
<br>

<%= link_to "Login", login_path %>
